node_modules

world
logs
banned-ips.json
banned-players.json
eula.txt
ops.json 
sample_server.jar
server.properties
usercache.json
whitelist.json

mods 
minecraft_server.1.12.2.jar
forge-1.12.2-14.23.5.2847-universal.jar
libraries
config
.mixin.out
llibrary
crash-reports

members.json

